/* style.css */
@import url('./constants.css');
@import url('../../templates/components/product_modal/product_modal.css');
@import url('../../templates/sales_cards.css');

* {
	box-sizing: border-box;
	font-family: 'vk-sans';
}

.page {
	/* font-family: url()Arial, sans-serif; */
	background-color: #F2F2F2;
	margin: 0;
	padding: 0 32px;
	display: flex;
    flex-direction: column;
    gap: 16px;
}

@font-face {
    font-family: 'vk-sans';
    src: url('../fonts/GrandisExtended-Regular.woff2') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'vk-sans';
    src: url('../fonts/GrandisExtended-Medium.woff2') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'vk-sans';
    src: url('../fonts/GrandisExtended-Bold.woff2') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

.header {
	display: flex;
	align-items: center;
	padding: 16px 24px;
	background-color: var(--white);
	border-radius: 0 0 24px 24px;
    position: fixed;
    width: calc(100% - 64px);
    height: 64px;
    z-index: 1;
}

.header__logo {
    height: 40px;
	margin-right: auto;
}

.header__search {
    padding: 8px 16px;
    font-size: 14px;
    width: 320px;
    margin-right: 16px;
    border-radius: 100px;
    border: none;
    background: var(--gray);
    height: 40px;
    line-height: 130%;
    padding-left: 40px;
}

input {
    outline: none;
}

.header__search::placeholder {
    transform: translateY(1px);
}

.auth__bg-img {
    position: absolute;
    z-index: -1;
    right: 64px;
    bottom: 64px;
    height: 360px;
}

.form_auth__title {
    font-size: 20px;
    font-weight: 500;
    align-self: center;
    margin: 0;
}

.container_feed {
    display: flex;
    flex-direction: row;
    gap: 24px;
    width: 100%;
}

.feed {
    display: flex;
    flex-direction: column;
    padding-left: 304px;
    width: 100%;
}

.header__controls {
	display: flex;
	align-items: center;
}

.header__login-button {
    background-color: var(--gray);
    color: var(--black);
    font-weight: 500;
    border: none;
    border-radius: 100px;
    cursor: pointer;
    height: 40px;
    font-size: 14px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    transition: var(--trans);
}

.header__login-button:hover {
    background-color: var(--sky-l);
}

.header__login-button:active {
    background-color: var(--sky);
}

.container_auth {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 64px - 12px - 20px);
    padding-bottom: 80px;
}

.form_auth {
    display: flex;
    flex-direction: column;
    width: 360px;
    background: var(--white);
    padding: 20px 24px;
    border-radius: 16px;
    gap: 24px;
}

.form_auth__fieldset {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin: 0;
    padding: 0;
    border: none;
}

.input {
    padding: 8px 16px;
    font-size: 14px;
    border-radius: 12px;
    border: none;
    background: var(--gray);
    height: 40px;
    line-height: 130%;
}

.main {
    position: absolute;
    top: 80px;
    width: calc(100% - 64px);
	display: flex;
}

.cart {
    width: 280px;
    background-color: var(--white);
    padding: 24px 16px;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    height: calc(100vh - 64px - 12px - 20px);
    position: fixed;
    overflow: scroll;
}

.cart__title {
	font-size: 18px;
	margin: 0;
}

.cart__empty {
	text-align: center;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.cart__image {
	width: 100px;
	height: auto;
	margin-bottom: 8px;
}

.cart__text {
	color: #888;
	font-size: 14px;
}

.content {
	flex: 1;
}

.auth-promo {
    background-color: #DFF0FD;
    padding: 12px 16px;
    border: 1px solid #C3E4FF;
    border-radius: 100px;
    margin-bottom: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    height: 56px;
}

.auth-promo__text {
	font-size: 14px;
}

.header__search-icon {
    position: absolute;
    height: 20px;
    width: 20px;
    margin: 10px 12px;
}

.auth-promo__button {
	background-color: var(--white);
    border: none;
    padding: 8px 16px;
    border-radius: 100px;
    cursor: pointer;
	height: 100%;
    text-decoration: none;
    color: var(--black);
    font-size: 12px;
}

.store {
	margin-bottom: 32px;
}

.store__header {
	display: flex;
	align-items: flex-end;
	margin-bottom: 16px;
}

.store__logo {
    width: 48px;
    height: 48px;
    margin-right: 12px;
    border-radius: 8px;
}

.store__title {
	font-weight: bold;
	margin-right: auto;
}

.store__delivery {
	font-size: 12px;
	padding: 4px 8px;
	border-radius: 8px;
}

.store__delivery_free {
	background-color: #e1f6e6;
	color: #3a915f;
}

.store__delivery_paid {
	background-color: #fbe4e4;
	color: #c94f4f;
}

.product-list {
	display: flex;
	flex-wrap: wrap;
	gap: 16px;
}

.product-card {
	width: 200px;
    background-color: #ffffff;
    border-radius: 12px;
    padding: 8px;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.product-card__image {
	background-color: #eaeaea;
    line-height: 100px;
    color: #999;
    margin-bottom: 8px;
    border-radius: 8px;
    aspect-ratio: 1 / 1;
    width: 100%;
	object-fit: cover;
}

.product-card__prices {
	display: flex;
	align-items: baseline;
	flex-direction: row;
    font-weight: 500;
	gap: 8px;
}

.product-card__price_old {
	text-decoration: line-through;
    color: #797979;
    font-size: 13px;
	font-weight: 400;
}

.product-card__price {
	/* font-weight: 500; */
}

.product-card__price_last {
	color: #CB696A;
}

.product-card__description {
	font-size: 13px;
	color: #555;
	margin-bottom: 8px;
	word-break: break-word;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    line-clamp: 2;
    overflow: hidden;
}

.product-card__button {
    background-color: var(--gray);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    width: 100%;
    transition: var(--trans);
    display: flex;
    justify-content: center;
    height: 32px;
    align-items: center;
}

.product-card__button:hover {
    background-color: var(--sky-l);
}

.product-card__button:active {
    background-color: var(--sky);
}





.cart__store {
    background-color: var(--gray);
}

.store_cart__img {
    width: 40px;
    aspect-ratio: 1 / 1;
    border-radius: 8px;
}

.cart__store {
    padding: 8px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    border-radius: 16px;
}

.cart__store-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

.store_cart__name {
    font-size: 14px;
    font-weight: 500;
}

.product_item {
    display: flex;
    align-items: center;
    flex-direction: row;
    background: var(--white);
    border-radius: 12px;
    padding: 8px;
    font-size: 12px;
    gap: 8px;
}

.product_item__img {
    width: 48px;
    aspect-ratio: 1 / 1;
    border-radius: 8px;
}

.product_item__count {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 8px;
    background: var(--gray);
    border-radius: 100px;
}

.product_item__measure {
    color: var(--gray-d);
}

.count__control {
    background-color: var(--gray);
    height: 24px;
    width: 24px;
    border-radius: 100px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: var(--trans);
    user-select: none;
}

.count__control:hover {
    background-color: var(--sky-l);
}

.count__control:active {
    background-color: var(--sky);
}

.product_item__name {
    color: var(--black);
    word-break: break-word;
    -webkit-line-clamp: 1;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    line-clamp: 1;
    overflow: hidden;
}

.product_item__bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 4px;
    align-items: flex-end;
}

.product_item__price-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    min-height: 24px;
    justify-content: center;
}

.product_item__price {
    font-size: 13px;
    font-weight: 500;
}

.product_item__price_old {
    text-decoration: line-through;
    color: var(--gray-d);
    font-size: 12px;
    font-weight: 400;
}

.product_item__price_new {
    color: var(--red);
}



.cart__store-footer {
    display: flex;
    flex-direction: column;
}

.cart__total-price {
    font-size: 14px;
    font-weight: 500;
    color: var(--black);
}

.cart__delivery-time {
    font-size: 12px;
    font-weight: 400;
    color: var(--gray-d);
}

.store__info {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 8px;
}

.store__header-right {
    display: flex;
    align-items: center;
    flex-direction: column;
}