.settings {
    background: var(--white);
    padding: 24px;
    border-radius: 24px;
    left: 304px;
    position: absolute;
    width: calc(100% - 304px);
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.section__title {
    font-size: 20px;
    font-weight: 600;
    margin: 0;
}

.settings__tabs {
    display: flex;
    gap: 8px;
    margin-bottom: 1rem;
}

.settings__tab {
    height: 32px;
    padding: 0 16px;
    border: none;
    cursor: pointer;
    border-radius: 100px;
    background: none;
    font-weight: 500;
    font-size: 14px;
    transition: var(--trans);
}

.settings__tab:hover {
    background: var(--sky-l);
}

.settings__tab:active {
    background: var(--sky);
}

.settings__tab.active {
    background: var(--sky);
}

.loyalty-cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 1rem;
}

.card {
    background: #e0e0e0;
    padding: 1rem;
    border-radius: 8px;
    text-align: center;
}