<form class="form_auth">
    <h3 class="form_auth__title">Регистрация</h3>
    <fieldset class="form_auth__fieldset">
        <input class="input" type="text" placeholder="Имя" name="firstname" maxlength="32" required>
        <input class="input" type="email" placeholder="Почта" name="email" maxlength="32" required>
        <input class="input" type="text" placeholder="Номер телефона" name="phone" maxlength="11" required>
        <input class="input" type="password" placeholder="Введите пароль" name="password" maxlength="32" minlength="8" required>
        <input class="input" type="password" placeholder="Повторите пароль" name="password" maxlength="32" minlength="8" required>
    </fieldset>
    <button type="submit" class="header__login-button">Зарегистрироваться</button>
</form>